@import url(https://fonts.googleapis.com/css?family=Mulish:300,regular,500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-btn-top:before {
  content: "\e900";
}

._icon-slider-arrow:before {
  content: "\e901";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #7D7987;
  line-height: 1;
  font-family: "Mulish";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Mulish";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container-big] {
  max-width: 76.1875rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  border-radius: 3.4375rem;
  display: inline-block;
  font-size: 1.1875rem;
  font-weight: 700;
  line-height: 3.1578947368;
  border: 0.0625rem solid #458FF6;
  color: #458FF6;
  padding: 0 1.4375rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button-blue {
  background-color: #458FF6;
  color: #fff;
}

.title {
  font-size: 2.25rem;
  line-height: 1.3333333333;
  font-weight: 700;
  color: #462E6A;
  position: relative;
  display: inline-block;
}

.title::before {
  content: "";
  position: absolute;
  bottom: -1.625rem;
  right: 50%;
  width: 3.5rem;
  background-color: #462E6A;
  height: 0.125rem;
}

.title-fz45 {
  font-size: 2.8125rem;
  line-height: 1.5555555556;
}

.swiper-pagination-bullet {
  width: 0.625rem;
  height: 0.6875rem;
  background-color: #458FF6;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-button-disabled {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: default;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 55;
  -webkit-transition: background-color 0.7s ease 0s;
  -o-transition: background-color 0.7s ease 0s;
  transition: background-color 0.7s ease 0s;
}

.header._header-scroll {
  background-color: rgba(255, 255, 255, 0.668);
}

.header__container-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.header__logo {
  max-width: 12.5625rem;
  position: relative;
  z-index: 2;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.3125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0rem 0.3125rem;
}

.menu__item {
  position: relative;
}

.menu__item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.1875rem;
  width: 0;
  height: 0.125rem;
  background: #2E4E92;
  border-radius: 0.3125rem;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.menu__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  line-height: 1.2777777778;
}

.icon-menu {
  display: none;
}

.footer {
  background: -o-linear-gradient(266.59deg, #6888C8 -8.57%, #5A98F2 82.96%);
  background: linear-gradient(183.41deg, #6888C8 -8.57%, #5A98F2 82.96%);
  color: #fff;
}

.footer__container-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  max-width: 25rem;
}

.footer__logo {
  display: inline-block;
}

.footer__logo:not(:last-child) {
  margin-bottom: 1rem;
}

.footer__text {
  font-weight: 500;
  line-height: 1.5;
}

.footer__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.footer__copy {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.75;
}

.column-footer__label {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 3;
}

.column-footer__link {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 2.1111111111;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.main-page {
  position: relative;
}

.main-page::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 8.1875rem;
  height: 7.1875rem;
  background: url("../img/main-page/decor.svg") 0 0 no-repeat;
  -webkit-transform: translate(-3.125rem, 10rem);
      -ms-transform: translate(-3.125rem, 10rem);
          transform: translate(-3.125rem, 10rem);
}

.main-page__container-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-page__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 53.4%;
          flex: 0 1 53.4%;
}

.main-page__title {
  font-weight: 700;
  line-height: 56px;
  color: #3C567B;
}

.main-page__title:not(:last-child) {
  margin-bottom: 1.6875rem;
}

.main-page__text {
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 1.4210526316;
  color: #458FF6;
  max-width: 34.375rem;
}

.main-page__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47.6%;
          flex: 0 0 47.6%;
}

.main-page__image img {
  max-width: 100%;
}

@-webkit-keyframes main-page {
}

@keyframes main-page {
}

.services__container {
  text-align: center;
}

.services__title:not(:last-child) {
  margin-bottom: 3.75rem;
}

.services__text {
  font-size: 1.1875rem;
  font-weight: 500;
  line-height: 1.4210526316;
  color: #CCD2E9;
}

.services__text:not(:last-child) {
  margin-bottom: 5.375rem;
}

.services__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  -webkit-column-gap: 2.125rem;
     -moz-column-gap: 2.125rem;
          column-gap: 2.125rem;
  row-gap: 2.3125rem;
}

.services__items::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 58.75rem;
  height: 41.9375rem;
  background: url("../img/services/decor.svg") 0 0/100% no-repeat;
  -webkit-transform: translate(-28.5625rem, -4.375rem);
      -ms-transform: translate(-28.5625rem, -4.375rem);
          transform: translate(-28.5625rem, -4.375rem);
}

.services__items::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  top: 50%;
  width: 8.1875rem;
  height: 7.1875rem;
  background: url("../img/services/decor_2.svg") 0 0/100% no-repeat;
  -webkit-transform: translate(3.125rem, -3.5rem);
      -ms-transform: translate(3.125rem, -3.5rem);
          transform: translate(3.125rem, -3.5rem);
}

.services__item {
  padding: 3.375rem 2.5rem 2.8125rem 2.5rem;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 1.25rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-service__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5.625rem;
          flex: 0 0 5.625rem;
}

.item-service__image:not(:last-child) {
  margin-bottom: 1.375rem;
}

.item-service__label {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 233.3%;
  /* 56/24 */
  color: #000;
}

.item-service__text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.75;
}

.leading {
  position: relative;
}

.leading::before {
  content: "";
  position: absolute;
  right: -1.25rem;
  bottom: -6.25rem;
  width: 8.1875rem;
  height: 7.1875rem;
  background: url("../img/leading/decor.svg") 0 0/100% no-repeat;
}

.leading__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5.75rem;
}

.leading__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 59.4%;
          flex: 0 1 59.4%;
  padding-left: 0.9375rem;
  -webkit-transform: translate(-1.8125rem, 0);
      -ms-transform: translate(-1.8125rem, 0);
          transform: translate(-1.8125rem, 0);
}

.leading__image img {
  max-width: 100%;
}

.leading__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 41.6%;
          flex: 0 1 41.6%;
}

.leading__title:not(:last-child) {
  margin-bottom: 3.6875rem;
}

.leading__title::before {
  left: 0;
}

.leading__text {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.6666666667;
}

.leading__text:not(:last-child) {
  margin-bottom: 2.3125rem;
}

.leading__decor {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 8.1875rem;
  height: 7.1875rem;
  background: url("../img/leading/decor.svg") 0 0/100% no-repeat;
  -webkit-transform: translate(12.5rem, 6.25rem);
      -ms-transform: translate(12.5rem, 6.25rem);
          transform: translate(12.5rem, 6.25rem);
}

.download {
  position: relative;
}

.download::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 34%;
  height: 31.25rem;
  background: url("../img/download/decor.svg") 0 0/100% no-repeat;
  z-index: -1;
}

.download__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.3125rem;
}

.download__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.download__title:not(:last-child) {
  margin-bottom: 3.125rem;
}

.download__title::before {
  left: 0;
}

.download__text {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.6666666667;
}

.download__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  gap: 0.9375rem;
}

.download__button::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 0.6875rem;
}

.download__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.download__image img {
  max-width: 100%;
}

.find__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.find__image img {
  max-width: 100%;
}

.find__title::before {
  left: 0;
}

.find__text {
  line-height: 1.6666666667;
}

.find__button {
  padding: 0 2.9375rem;
}

.reviews__container {
  position: relative;
  padding: 0 0.9375rem;
}

.reviews__body {
  background: -o-linear-gradient(241.82deg, #6888C8 9.05%, #5A98F2 76.74%);
  background: linear-gradient(208.18deg, #6888C8 9.05%, #5A98F2 76.74%);
  border-radius: 1.5rem;
  padding: 4.625rem 7.5rem 6.25rem 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

.reviews__body::before {
  content: "";
  position: absolute;
  right: -3.125rem;
  top: -1.0625rem;
  width: 8.625rem;
  height: 8.1875rem;
  background: url("../img/reviews/decor.svg") 0 0/100% no-repeat;
}

.reviews__title {
  color: #fff;
}

.reviews__title::before {
  background-color: #fff;
}

.reviews__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-reviews__text {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 2.5;
  color: #fff;
}

.user-slide-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-slide-reviews__avatar {
  border-radius: 50%;
  overflow: hidden;
  max-width: 7.0625rem;
  max-height: 5.4375rem;
}

.user-slide-reviews__avatar img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}

.user-slide-reviews__name {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 2.1818181818;
  color: #fff;
}

.user-slide-reviews__position {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2.6666666667;
  color: #fff;
}

.reviews__arrow {
  color: #458FF6;
}

.swiper-button-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.1875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .download__button {
    max-width: 12.5rem;
  }
}

@media (min-width: 40.625em) {
  .item-service__text {
    text-align: left;
    max-width: 16.625rem;
  }
}

@media (min-width: 47.99875em) {
  .reviews__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 61.99875em) {
  .main-page__title {
    -webkit-transform: translate(-1.9375rem, 0);
        -ms-transform: translate(-1.9375rem, 0);
            transform: translate(-1.9375rem, 0);
    padding-left: 1.875rem;
  }

  .main-page__text {
    -webkit-transform: translate(-1.9375rem, 0);
        -ms-transform: translate(-1.9375rem, 0);
            transform: translate(-1.9375rem, 0);
    padding-left: 1.875rem;
  }

  .find__image {
    -webkit-transform: translate(-6.25rem, 0);
        -ms-transform: translate(-6.25rem, 0);
            transform: translate(-6.25rem, 0);
  }

  .slide-reviews__text {
    max-width: 28.125rem;
  }
}

@media (min-width: 71.625em) {
  .title {
    font-size: 2.25rem;
  }

  .header__container-big {
    min-height: 9.5625rem;
  }

  .footer {
    padding-top: 6.5625rem;
  }

  .footer {
    padding-bottom: 6.5625rem;
  }

  .main-page {
    padding-top: 12.5rem;
  }

  .main-page {
    padding-bottom: 6.25rem;
  }

  .main-page__title {
    font-size: 3rem;
  }

  .main-page__text:not(:last-child) {
    margin-bottom: 7.875rem;
  }

  .services {
    padding-top: 6.25rem;
  }

  .services {
    padding-bottom: 7.5rem;
  }

  .services__items:not(:last-child) {
    margin-bottom: 4.3125rem;
  }

  .leading {
    padding-top: 6.25rem;
  }

  .leading {
    margin-bottom: 8.125rem;
  }

  .leading__container {
    gap: 5.75rem;
  }

  .download {
    padding-top: 9.375rem;
  }

  .download {
    padding-bottom: 9.375rem;
  }

  .download__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .find {
    padding-top: 9.375rem;
  }

  .find {
    padding-bottom: 7.5rem;
  }

  .find__title:not(:last-child) {
    margin-bottom: 4.875rem;
  }

  .find__text:not(:last-child) {
    margin-bottom: 4.875rem;
  }

  .reviews {
    padding-bottom: 8.75rem;
  }

  .reviews__body {
    margin-bottom: 3rem;
  }

  .reviews__title {
    margin-bottom: 7.5rem;
  }

  .reviews__navigation {
    gap: 5.625rem;
  }

  .user-slide-reviews {
    gap: 3.375rem;
  }
}

@media (min-width: 75em) {
  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}

@media (max-width: 48em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.75rem;
  }

  .header__container-big {
    min-height: 5rem;
  }

  .footer {
    padding-top: 2.5rem;
  }

  .footer {
    padding-bottom: 2.5rem;
  }

  .main-page {
    padding-top: 6.25rem;
  }

  .main-page {
    padding-bottom: 0.9375rem;
  }

  .main-page__title {
    font-size: 2rem;
  }

  .main-page__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .services {
    padding-top: 0.9375rem;
  }

  .services {
    padding-bottom: 0.9375rem;
  }

  .services__items:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .leading {
    padding-top: 0.9375rem;
  }

  .leading {
    margin-bottom: 1.25rem;
  }

  .leading__container {
    gap: 1.875rem;
  }

  .download {
    padding-top: 1.875rem;
  }

  .download {
    padding-bottom: 1.875rem;
  }

  .download__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .find {
    padding-top: 1.25rem;
  }

  .find {
    padding-bottom: 1.875rem;
  }

  .find__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .find__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .reviews {
    padding-bottom: 1.875rem;
  }

  .reviews__body {
    margin-bottom: 1.25rem;
  }

  .reviews__title {
    margin-bottom: 3.125rem;
  }

  .reviews__navigation {
    gap: 1.875rem;
  }

  .user-slide-reviews {
    gap: 0.9375rem;
  }
}

@media (max-width: 61.99875em) {
  .footer__container-big {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
  }

  .footer__info {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  .main-page__container-big {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }

  .services__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .leading__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .download__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .find__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .reviews__body {
    padding: 1.875rem 2.5rem 1.875rem 2.5rem;
  }

  .reviews__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 7.5rem;
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    text-align: center;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #fff;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__body,
  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
    row-gap: 0.9375rem;
  }

  .menu__link {
    display: block;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .reviews__title::before {
    left: 0;
  }

  .slide-reviews__text {
    font-size: 1.125rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body::before {
    height: 5rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 40.625em) {
  .services__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 29.99875em) {
  .column-footer {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .main-page__button {
    display: block;
    text-align: center;
  }

  .leading__button {
    display: block;
    text-align: center;
  }
}

@media (min-width: 20em) and (max-width: 71.625em) {
@supports (font-size: clamp( 1.75rem , 1.5562953995rem  +  0.9685230024vw , 2.25rem )) {
    .title {
      font-size: clamp( 1.75rem , 1.5562953995rem  +  0.9685230024vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.5562953995rem  +  0.9685230024vw , 2.25rem )) {
    .title {
      font-size: calc(1.75rem + 0.5 * (100vw - 20rem) / 51.625);
    }
}

@supports (min-height: clamp( 5rem , 3.2324455206rem  +  8.8377723971vw , 9.5625rem )) {
    .header__container-big {
      min-height: clamp( 5rem , 3.2324455206rem  +  8.8377723971vw , 9.5625rem );
    }
}

@supports not (min-height: clamp( 5rem , 3.2324455206rem  +  8.8377723971vw , 9.5625rem )) {
    .header__container-big {
      min-height: calc(5rem + 4.5625 * (100vw - 20rem) / 51.625);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.9261501211rem  +  7.8692493947vw , 6.5625rem )) {
    .footer {
      padding-top: clamp( 2.5rem , 0.9261501211rem  +  7.8692493947vw , 6.5625rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.9261501211rem  +  7.8692493947vw , 6.5625rem )) {
    .footer {
      padding-top: calc(2.5rem + 4.0625 * (100vw - 20rem) / 51.625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.9261501211rem  +  7.8692493947vw , 6.5625rem )) {
    .footer {
      padding-bottom: clamp( 2.5rem , 0.9261501211rem  +  7.8692493947vw , 6.5625rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.9261501211rem  +  7.8692493947vw , 6.5625rem )) {
    .footer {
      padding-bottom: calc(2.5rem + 4.0625 * (100vw - 20rem) / 51.625);
    }
}

@supports (padding-top: clamp( 6.25rem , 3.8286924939rem  +  12.1065375303vw , 12.5rem )) {
    .main-page {
      padding-top: clamp( 6.25rem , 3.8286924939rem  +  12.1065375303vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 3.8286924939rem  +  12.1065375303vw , 12.5rem )) {
    .main-page {
      padding-top: calc(6.25rem + 6.25 * (100vw - 20rem) / 51.625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -1.1206113801rem  +  10.2905569007vw , 6.25rem )) {
    .main-page {
      padding-bottom: clamp( 0.9375rem , -1.1206113801rem  +  10.2905569007vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -1.1206113801rem  +  10.2905569007vw , 6.25rem )) {
    .main-page {
      padding-bottom: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 51.625);
    }
}

@supports (font-size: clamp( 2rem , 1.612590799rem  +  1.9370460048vw , 3rem )) {
    .main-page__title {
      font-size: clamp( 2rem , 1.612590799rem  +  1.9370460048vw , 3rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.612590799rem  +  1.9370460048vw , 3rem )) {
    .main-page__title {
      font-size: calc(2rem + 1 * (100vw - 20rem) / 51.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -1.3165859564rem  +  12.8329297821vw , 7.875rem )) {
    .main-page__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -1.3165859564rem  +  12.8329297821vw , 7.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -1.3165859564rem  +  12.8329297821vw , 7.875rem )) {
    .main-page__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 6.625 * (100vw - 20rem) / 51.625);
    }
}

@supports (padding-top: clamp( 0.9375rem , -1.1206113801rem  +  10.2905569007vw , 6.25rem )) {
    .services {
      padding-top: clamp( 0.9375rem , -1.1206113801rem  +  10.2905569007vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -1.1206113801rem  +  10.2905569007vw , 6.25rem )) {
    .services {
      padding-top: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 51.625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -1.6048728814rem  +  12.7118644068vw , 7.5rem )) {
    .services {
      padding-bottom: clamp( 0.9375rem , -1.6048728814rem  +  12.7118644068vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -1.6048728814rem  +  12.7118644068vw , 7.5rem )) {
    .services {
      padding-bottom: calc(0.9375rem + 6.5625 * (100vw - 20rem) / 51.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.063559322rem  +  5.9322033898vw , 4.3125rem )) {
    .services__items:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.063559322rem  +  5.9322033898vw , 4.3125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.063559322rem  +  5.9322033898vw , 4.3125rem )) {
    .services__items:not(:last-child) {
      margin-bottom: calc(1.25rem + 3.0625 * (100vw - 20rem) / 51.625);
    }
}

@supports (padding-top: clamp( 0.9375rem , -1.1206113801rem  +  10.2905569007vw , 6.25rem )) {
    .leading {
      padding-top: clamp( 0.9375rem , -1.1206113801rem  +  10.2905569007vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , -1.1206113801rem  +  10.2905569007vw , 6.25rem )) {
    .leading {
      padding-top: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 51.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -1.4134382567rem  +  13.3171912833vw , 8.125rem )) {
    .leading {
      margin-bottom: clamp( 1.25rem , -1.4134382567rem  +  13.3171912833vw , 8.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -1.4134382567rem  +  13.3171912833vw , 8.125rem )) {
    .leading {
      margin-bottom: calc(1.25rem + 6.875 * (100vw - 20rem) / 51.625);
    }
}

@supports (gap: clamp( 1.875rem , 0.3737893462rem  +  7.5060532688vw , 5.75rem )) {
    .leading__container {
      gap: clamp( 1.875rem , 0.3737893462rem  +  7.5060532688vw , 5.75rem );
    }
}

@supports not (gap: clamp( 1.875rem , 0.3737893462rem  +  7.5060532688vw , 5.75rem )) {
    .leading__container {
      gap: calc(1.875rem + 3.875 * (100vw - 20rem) / 51.625);
    }
}

@supports (padding-top: clamp( 1.875rem , -1.0305690073rem  +  14.5278450363vw , 9.375rem )) {
    .download {
      padding-top: clamp( 1.875rem , -1.0305690073rem  +  14.5278450363vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -1.0305690073rem  +  14.5278450363vw , 9.375rem )) {
    .download {
      padding-top: calc(1.875rem + 7.5 * (100vw - 20rem) / 51.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -1.0305690073rem  +  14.5278450363vw , 9.375rem )) {
    .download {
      padding-bottom: clamp( 1.875rem , -1.0305690073rem  +  14.5278450363vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -1.0305690073rem  +  14.5278450363vw , 9.375rem )) {
    .download {
      padding-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 51.625);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.3321731235rem  +  3.0266343826vw , 2.5rem )) {
    .download__text:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.3321731235rem  +  3.0266343826vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.3321731235rem  +  3.0266343826vw , 2.5rem )) {
    .download__text:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 51.625);
    }
}

@supports (padding-top: clamp( 1.25rem , -1.8976997579rem  +  15.7384987893vw , 9.375rem )) {
    .find {
      padding-top: clamp( 1.25rem , -1.8976997579rem  +  15.7384987893vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -1.8976997579rem  +  15.7384987893vw , 9.375rem )) {
    .find {
      padding-top: calc(1.25rem + 8.125 * (100vw - 20rem) / 51.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.3041767554rem  +  10.8958837772vw , 7.5rem )) {
    .find {
      padding-bottom: clamp( 1.875rem , -0.3041767554rem  +  10.8958837772vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.3041767554rem  +  10.8958837772vw , 7.5rem )) {
    .find {
      padding-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 51.625);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.5799031477rem  +  4.6004842615vw , 4.875rem )) {
    .find__title:not(:last-child) {
      margin-bottom: clamp( 2.5rem , 1.5799031477rem  +  4.6004842615vw , 4.875rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.5799031477rem  +  4.6004842615vw , 4.875rem )) {
    .find__title:not(:last-child) {
      margin-bottom: calc(2.5rem + 2.375 * (100vw - 20rem) / 51.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.1543583535rem  +  7.0217917676vw , 4.875rem )) {
    .find__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -0.1543583535rem  +  7.0217917676vw , 4.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.1543583535rem  +  7.0217917676vw , 4.875rem )) {
    .find__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 3.625 * (100vw - 20rem) / 51.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.7884382567rem  +  13.3171912833vw , 8.75rem )) {
    .reviews {
      padding-bottom: clamp( 1.875rem , -0.7884382567rem  +  13.3171912833vw , 8.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.7884382567rem  +  13.3171912833vw , 8.75rem )) {
    .reviews {
      padding-bottom: calc(1.875rem + 6.875 * (100vw - 20rem) / 51.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.5720338983rem  +  3.3898305085vw , 3rem )) {
    .reviews__body {
      margin-bottom: clamp( 1.25rem , 0.5720338983rem  +  3.3898305085vw , 3rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5720338983rem  +  3.3898305085vw , 3rem )) {
    .reviews__body {
      margin-bottom: calc(1.25rem + 1.75 * (100vw - 20rem) / 51.625);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 1.4300847458rem  +  8.4745762712vw , 7.5rem )) {
    .reviews__title {
      margin-bottom: clamp( 3.125rem , 1.4300847458rem  +  8.4745762712vw , 7.5rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.4300847458rem  +  8.4745762712vw , 7.5rem )) {
    .reviews__title {
      margin-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 51.625);
    }
}

@supports (gap: clamp( 1.875rem , 0.4222154964rem  +  7.2639225182vw , 5.625rem )) {
    .reviews__navigation {
      gap: clamp( 1.875rem , 0.4222154964rem  +  7.2639225182vw , 5.625rem );
    }
}

@supports not (gap: clamp( 1.875rem , 0.4222154964rem  +  7.2639225182vw , 5.625rem )) {
    .reviews__navigation {
      gap: calc(1.875rem + 3.75 * (100vw - 20rem) / 51.625);
    }
}

@supports (gap: clamp( 0.9375rem , -0.0068099274rem  +  4.7215496368vw , 3.375rem )) {
    .user-slide-reviews {
      gap: clamp( 0.9375rem , -0.0068099274rem  +  4.7215496368vw , 3.375rem );
    }
}

@supports not (gap: clamp( 0.9375rem , -0.0068099274rem  +  4.7215496368vw , 3.375rem )) {
    .user-slide-reviews {
      gap: calc(0.9375rem + 2.4375 * (100vw - 20rem) / 51.625);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 48em) {
  .menu__body::before {
    height: 6.25rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 48em) {
@supports (height: clamp( 5rem , 4.1071428571rem  +  4.4642857143vw , 6.25rem )) {
    .menu__body::before {
      height: clamp( 5rem , 4.1071428571rem  +  4.4642857143vw , 6.25rem );
    }
}

@supports not (height: clamp( 5rem , 4.1071428571rem  +  4.4642857143vw , 6.25rem )) {
    .menu__body::before {
      height: calc(5rem + 1.25 * (100vw - 20rem) / 28);
    }
}
}

@media (min-width: 48em) and (max-width: 75em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , -1.8402777778rem  +  5.787037037vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -1.8402777778rem  +  5.787037037vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -1.8402777778rem  +  5.787037037vw , 2.5rem );
         -moz-column-gap: clamp( 0.9375rem , -1.8402777778rem  +  5.787037037vw , 2.5rem );
              column-gap: clamp( 0.9375rem , -1.8402777778rem  +  5.787037037vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -1.8402777778rem  +  5.787037037vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , -1.8402777778rem  +  5.787037037vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 1.5625 * (100vw - 48rem) / 27);
         -moz-column-gap: calc(0.9375rem + 1.5625 * (100vw - 48rem) / 27);
              column-gap: calc(0.9375rem + 1.5625 * (100vw - 48rem) / 27);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #458FF6;
    color: #fff;
  }

  .button-blue:hover {
    background-color: #2E4E92;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__item:hover::before {
    width: 100%;
  }

  .menu__item:hover .menu__link {
    color: #2E4E92;
  }

  .column-footer__link:hover {
    color: #462E6A;
  }
}